<div class="weather-container">
    <h1>Прогноз погоды: {{ cityName }}</h1>
    <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>
  
    <div *ngIf="currentWeather" class="current-weather">
      <h2>Сейчас</h2>
      <p>Температура: {{ currentWeather.temp }}°C</p>
      <p>Ощущается как: {{ currentWeather.feels_like }}°C</p>
      <p>Погодные условия: {{ currentWeather.weather[0]?.description }}</p>
    </div>
  
    <div *ngIf="weatherForecast.length" class="forecast">
      <h2>Прогноз на несколько дней</h2>
      <div *ngFor="let day of weatherForecast" class="forecast-day">
        <p>Дата: {{ day.dt | date: 'dd.MM.yyyy' }}</p>
        <p>Температура днем: {{ day.temp.day }}°C</p>
        <p>Температура ночью: {{ day.temp.night }}°C</p>
        <p>Погодные условия: {{ day.weather[0]?.description }}</p>
      </div>
    </div>
</div>
  